<!-- Single pro tab start-->

<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                        aria-hidden="true"></i> Thông tin tài khoản</a></li>
                        </ul>
                        <h3 style="color:red;">{{noti}}</h3>

                        <div id="myTabContent" class="tab-content custom-product-edit nalika-edit">
                            <form method="POST" action="/dashboard/account/updateInfo">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-md-8">

                                            <label for="tdd" class="col-sm-3 col-form-label">Tên Tài Khoản</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="tdd"
                                                    placeholder="Tên Người Dùng" value={{user.username}}
                                                    name="userName">
                                            </div>
                                            <label for="tnd" class="col-sm-3 col-form-label">Tên Người Dùng</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="tnd"
                                                    placeholder="Tên người dùng" value="{{user.name}}">
                                            </div>
                                            <label for="e" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="e" placeholder="Email"
                                                    value={{user.email}}>
                                            </div>
                                            <label for="p" class="col-sm-3 col-form-label">Số Điện Thoại</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="p" placeholder="Phonenumber"
                                                    value={{user.phonenumber}}>
                                            </div>
                                            <label for="dc" class="col-sm-3 col-form-label">Địa chỉ</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="dc" placeholder="Adress"
                                                    value="{{user.address}}">
                                            </div>
                                            <label for="ca" class="col-sm-3 col-form-label">Ngày tạo</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ca" placeholder="Adress"
                                                    value="{{user.createdAt}}">
                                            </div>
                                            <label for="ua" class="col-sm-3 col-form-label">Ngày cập nhật</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="ua" placeholder="Adress"
                                                    value="{{user.updatedAt}}">
                                            </div>
                                            <hr>
                                            <label for="l" class="col-sm-3 col-form-label">Đang bị khóa</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="l" placeholder="Adress"
                                                    value="{{user.isBanned}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label for=""> hình đại diện</label>
                                            <div class="image-container">
                                                <img class="d-flex justify-content-center" style="border-radius: 100%;"
                                                    src="/img/avatar-default.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--


                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Mã sản phẩm"
                                                        name="productId" value={{product.productId}}>
                                                </div>
                                                
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-edit"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Tên sản phẩm"
                                                        name="name" value="{{product.name}}">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-usd"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Giá gốc"
                                                        name="originPrice" value={{product.originPrice}}>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-new-file"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Giá khuyến mãi"
                                                        name="salePrice" value={{product.salePrice}}>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-favorites"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Số lượng"
                                                        name="quantity" value={{product.quantity}}>
                                                </div>
                                            </div>
                                        </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Mô tả"
                                                        name="description" value={{product.description}}>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i
                                                            class="icon nalika-favorites-button"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Nhãn hiệu"
                                                        name="branch" value={{product.branch}}>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="fa fa-usd"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Kích cỡ"
                                                        name="size" value={{product.size}}>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-like"
                                                            aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" placeholder="Màu sắc"
                                                        name="color" value={{product.color}}>
                                                </div>
                                                <select name="select"
                                                    class="form-control pro-edt-select form-control-primary">
                                                    <option value="opt1">Loại sản phẩm</option>
                                                    <option value="opt2">Áo</option>
                                                    <option value="opt3">Quần</option>
                                                    <option value="opt4">Mũ</option>
                                                    <option value="opt5">Giày</option>
                                                    <option value="opt6">Dép</option>
                                                </select>
                                            </div>
                                        </div>
-->