<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh sách sản phẩm</h4>
                    <div class="add-product">
                        <a href="/product/add">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá gốc</th>
                            <th>Giá khuyến mãi</th>
                            <th>Số lượng</th>
                            <th>Mô tả</th>
                            <th>Màu sắc</th>
                            <th>Size</th>
                            <th>Hành động</th>
                        </tr>
                        {{#each list}}
                            <tr>
                                <td><img src="/img/new-product/5.png" alt="Không thể tải ảnh" /></td>
                                <td>{{name}}</td>
                                <td>{{originPrice}}</td>
                                <td>{{salePrice}}</td>
                                <td>{{quantity}}</td>
                                <td>{{description}}</td>
                                <td>{{color}}</td>
                                <td>{{size}}</td>
                                <td>
                                    <a href="/product/edit/{{id}}">
                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i
                                                class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                    <a href="/product/delete/{{id}}">
                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i
                                                class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </a>


                                </td>
                            </tr>
                        {{/each}}
                    </table>
                    <div class="custom-pagination">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>