<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#tab1"><i class="icon nalika-edit" aria-hidden="true"></i> Sửa
                                    sản phẩm</a></li>
                            <li><a href="#tab2"><i class="icon nalika-picture" aria-hidden="true"></i> Hình ảnh</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="tab1">
                                <form method="POST" action="/product/edit/{{product.id}}">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="breadcomb-ctn">
                                                    <p>Mã sản phẩm</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-key" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Mã sản phẩm"
                                                        name="id" id="id" value="{{product.id}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Tên sản phẩm</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-product-hunt" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Tên sản phẩm"
                                                        name="name" id="name" value="{{product.name}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Giá gốc</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control" placeholder="Giá gốc"
                                                        name="originprice" id="originprice"
                                                        value="{{product.originPrice}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Giá khuyến mãi</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control"
                                                        placeholder="Giá khuyến mãi" name="saleprice" id="saleprice"
                                                        value="{{product.salePrice}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Phần trăm khuyến mãi</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-percent" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control"
                                                        placeholder="Phần trăm khuyến mãi" name="salepercent"
                                                        id="salepercent" value="{{product.salePercent}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Số lượng</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="number" class="form-control" placeholder="Số lượng"
                                                        name="quantity" id="quantity" value="{{product.quantity}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Mô tả</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Mô tả"
                                                        name="description" id="description"
                                                        value="{{product.description}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Nhãn hiệu</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Nhãn hiệu"
                                                        name="branch" id="branch" value="{{product.branch}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Kích cỡ</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Kích cỡ"
                                                        name="size" id="size" value="{{product.size}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="breadcomb-ctn">
                                                    <p>Màu sắc</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Màu sắc"
                                                        name="color" id="color" value="{{product.color}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Hình ảnh 1</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Hình ảnh 1"
                                                        name="image1" id="image1" value="{{product.image1}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Hình ảnh 2</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Hình ảnh 2"
                                                        name="image2" id="image2" value="{{product.image2}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Hình ảnh 3</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Hình ảnh 3"
                                                        name="image3" id="image3" value="{{product.image3}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Thuộc tính 1</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Thuộc tính 1"
                                                        name="specification1" id="specification1"
                                                        value="{{product.specification1}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Thuộc tính 2</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Thuộc tính 2"
                                                        name="specification2" id="specification2"
                                                        value="{{product.specification2}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Thuộc tính 3</p>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                                                    </span>
                                                    <input type="text" class="form-control" placeholder="Thuộc tính 3"
                                                        name="specification3" id="specification3"
                                                        value="{{product.specification3}}">
                                                </div>
                                                <div class="breadcomb-ctn">
                                                    <p>Loại sản phẩm</p>
                                                </div>
                                                <select id="catId" name="catId"
                                                    class="form-control pro-edt-select form-control-primary">
                                                    <option value="{{product.type}}" selected="selected">
                                                        {{categoryName}}
                                                    </option>
                                                    {{#each category}}
                                                    <option value="{{id}}">{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center custom-pro-edt-ds">
                                                <button type="submit"
                                                    class="btn btn-ctl-bt waves-effect waves-light m-r-10">Sửa
                                                </button>
                                                <button type="button"
                                                    class="btn btn-ctl-bt waves-effect waves-light">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="product-tab-list tab-pane fade show active" id="tab2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="product-edt-remove form-group row">
                                                        <p>Cập nhật ảnh này</p>
                                                        <!-- upload image form -->
                                                        <form method="post"
                                                            action="/dashboard/product/detail/upload/{{product.id}}&1"
                                                            enctype="multipart/form-data">
                                                            <div class="col-md-8">
                                                                <button type="button"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">
                                                                    <input type="file" name="file"
                                                                        value="Upload image" />
                                                                </button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" style="border: 1px white solid"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">Upload</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <hr>
                                                    <div class="image-container">
                                                        <img src="{{product.image1}} " alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="product-edt-remove form-group row">
                                                        <p>Cập nhật ảnh này</p>
                                                        <!-- upload image form -->
                                                        <form method="post"
                                                            action="/dashboard/product/detail/upload/{{product.id}}&2"
                                                            enctype="multipart/form-data">
                                                            <div class="col-md-8">
                                                                <button type="button"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">
                                                                    <input type="file" name="file"
                                                                        value="Upload image" />
                                                                </button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" style="border: 1px white solid"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">Upload</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <hr>
                                                    <div class="image-container">
                                                        <img src="{{product.image2}}" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="product-edt-remove form-group row">
                                                        <p>Cập nhật ảnh này</p>
                                                        <!-- upload image form -->
                                                        <form method="post"
                                                            action="/dashboard/product/detail/upload/{{product.id}}&3"
                                                            enctype="multipart/form-data">
                                                            <div class="col-md-8">
                                                                <button type="button"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">
                                                                    <input type="file" name="file"
                                                                        value="Upload image" />
                                                                </button>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <button type="submit" style="border: 1px white solid"
                                                                    class="btn btn-ctl-bt waves-effect waves-light">Upload</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <hr>
                                                    <div class="image-container">
                                                        <img src="{{product.image3}} " alt="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--

<div class="row">
                                                <div class="col-lg-4">
                                                    <div class="pro-edt-img">
                                                        <img src={{product.image1}} alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="product-edt-pix-wrap">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">TT</span>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Label Name">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-radio">
                                                                            <form>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Largest
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Medium
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Small
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="pro-edt-img">
                                                        <img src="/img/new-product/6-small.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="product-edt-pix-wrap">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">TT</span>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Label Name">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-radio">
                                                                            <form>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Largest
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Medium
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Small
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="product-edt-remove">
                                                                            <button type="button"
                                                                                class="btn btn-ctl-bt waves-effect waves-light">Remove
                                                                                <i class="fa fa-times"
                                                                                    aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="pro-edt-img mg-b-0">
                                                        <img src="/img/new-product/7-small.jpg" alt="" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="product-edt-pix-wrap">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">TT</span>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Label Name">
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <div class="form-radio">
                                                                            <form>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Largest
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Medium
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                                <div class="radio radiofill">
                                                                                    <label>
                                                                                        <input type="radio"
                                                                                            name="radio"><i
                                                                                            class="helper"></i>Small
                                                                                        Image
                                                                                    </label>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <div class="product-edt-remove">
                                                                            <button type="button"
                                                                                class="btn btn-ctl-bt waves-effect waves-light">Remove
                                                                                <i class="fa fa-times"
                                                                                    aria-hidden="true"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


-->